<!DOCTYPE html>
<html>
<head>
<title>HOME</title>
</head>
<body>
<h1>JOB_MANISH</h1>
<p>This is the home page for applying jobs</p>
<a href="http://[::1]:3000/static_pages/about">To go to about page </a>
<a href="http://[::1]:3000/static_pages/help">To go to help page </a>
</body>
</html>
